<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>20</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Debug</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://localhost:8099/DCS/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Debug\net8.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>D:\Apppublish\DCS\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <History>True|2026-03-24T08:50:46.5302967Z||;True|2026-03-24T16:49:27.4982394+08:00||;True|2026-03-24T16:45:29.6232514+08:00||;True|2026-03-24T16:42:00.7151957+08:00||;True|2026-03-24T16:39:52.7182777+08:00||;True|2026-03-24T16:35:27.7108810+08:00||;True|2026-03-24T16:23:10.7962174+08:00||;True|2026-03-24T15:15:49.4987804+08:00||;True|2026-03-24T15:12:19.2771206+08:00||;True|2026-03-24T15:04:14.6865740+08:00||;True|2026-03-24T15:01:27.7904821+08:00||;True|2026-03-24T14:27:07.2797201+08:00||;True|2026-03-24T14:23:00.3216198+08:00||;True|2026-03-24T14:15:09.0612451+08:00||;True|2026-03-24T14:13:40.2274271+08:00||;True|2026-03-24T14:02:57.3106541+08:00||;True|2026-03-24T13:57:04.8267427+08:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Config\AppConfig.xml">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Using\BYDEqui.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Using\BYDEqui.jpg">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET 桌面运行时 8.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>